extends ../layouts/default

block intro
	
block content
	.container.bloc-sm
		.row
			.col-lg-12
				img(src="../images/chanpin1_02.png" style="width:100%")
		.row.products
			.col-lg-12
				h4 所有产品
			.col-lg-9
				.masonry
					a.product.height2(href="/gallery/1")
						h5 美颜净化器 S1
						img(src="../images/chanpin14_13.png" )
						.hover-info: .hover-detail
							h3 RMB:2499.00
							P 美颜净化器 S1
					a.product
						h5 美颜 mini 经典款
						img(src="../images/chanpin14_03.png")
					a.product
						h5 美颜1S 物联智能
						img(src="../images/chanpin14_06.png")
						.hover-info: .hover-detail
							img(src="../images/chanpin1_08.png")
							h3 RMB:3999.00
							P 美颜1S 物联智能
					a.product.w2
						h5 美颜净化器滤芯
						img(src="../images/chanpin14_18.png")
					a.product
						h5 美颜 mini 蓝牙款
						img(src="../images/chanpin14_08.png")
					a.product
						h5 卫衣
						img(src="../images/chanpin14_15.png")
					a.product
						h5 卫衣
						img(src="../images/chanpin14_12.png")
			.col-lg-3
				.container
					img(src="../images/chanpin1_05.png" style="width:100%;padding-top:10px;")
	
block js
	script.
		$( document ).ready(function () {
			var container = document.querySelector('.masonry');
			var msnry = new Masonry(container, {
			});
			msnry.layout();
		});
