extends ../layouts/default

block content
	.bloc.d-bloc.b-divider.bg-tile-d-bg.bg-repeat#bloc-1
		.container
			.row.animated
				.col-sm-12
					#carousel-example-generic.carousel.slide(data-ride="carousel")
						ol.carousel-indicators
							li(class="active" data-target="#carousel-example-generic" data-slide-to="0")
							li(data-target="#carousel-example-generic" data-slide-to="1")
							li(data-target="#carousel-example-generic" data-slide-to="2")
						
						.carousel-inner(role="listbox")
							.item.active
								img(src="../images/sanyuki/bg/bg1.jpg" class="img-responsive")
							.item
								img(src="../images/bkg5.png" class="img-responsive")
							.item
								img(src="../images/5.jpg" class="img-responsive")
						a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
							span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
							span.sr-only Previous
						a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
							span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
							span.sr-only Next	
	
	.bloc-button.btn.btn-d.scrollToTop(onclick="scrollToTarget('1')")
		icon.fa.fa-chevron-up
	
	.bloc.l-bloc.hidden-sm.hidden-xs#bloc-3
		.container.bloc-lg
			.row.animated.fadeInUp
				.col-md-8.col-md-offset-2
					.col-md-12
						.col-md-3.home-gold-row
							.row.animated.fadeInUp
								.col-md-6.num 100
								.col-md-6
									p.pw 倍
									p 故障赔偿
						.col-md-3.home-gold-row
							.row.animated.fadeInUp
								.col-md-6.num 7
								.col-md-6
									p.pw *24
									p 技术支持
						.col-md-3.home-gold-row
							.row.animated.fadeInUp
								.col-md-6.num 5
								.col-md-6
									p.pw 天
									p 无理由退货
						.col-md-3.home-gold-row
							.row.animated.fadeInUp
								.col-md-6.num 0
								.col-md-6
									p.pw 元
									p 免费提供
									
	#bloc-1.bloc.d-bloc.b-divider.bg-tile-d-bg.bg-repeat
		.container
			.row.animated
				.col-sm-12
					#carousel-user-generic.carousel.slide(data-ride='carousel')
						// Wrapper for slides
						.carousel-inner(role='listbox')
							.item.active(style='height:250px;')
								img.img-responsive(src='../images/reviews_bg.png', alt='', style='')
								.carousel-caption.user-reviews
									.media
										.pull-left
											a(href='#')
												img.media-object(data-src='http://tp2.sinaimg.cn/1571813701/180/5668346867/0', alt='64x64', src='http://tp2.sinaimg.cn/1571813701/180/5668346867/0', data-holder-rendered='true', style='width: 64px; height: 64px;')
										.media-body
											h4#media-heading.media-heading
												| AMY
												a.anchorjs-link(href='#media-heading')
													span.anchorjs-icon
											| 	算是入手的第二款净化器，除了空气污染外更多的是因为家里干燥，在网上进行了各种对比，对此款净化器的评价很高，所以放心来买。到家拆封后，外观样式很漂亮，高端大气上档次。开机实验，因为是刚装修好不久的房间，开机不到5分钟就显示红色，自动档风量调至最大。挪移到卧室里，关上门窗，红色转了大概有10分钟变黄了，又等了一会儿难得变了绿色。不过晚上睡觉前收拾被褥立马又红色了，探测器很灵敏。打开睡眠档，根本听不到声音，还以为是没开。早上起来明显嗓子不是那么难受了，屋子也不那么干了，机子非常不错。

	#bloc-2.bloc.l-bloc.hidden-sm.hidden-xs
		.container.bloc-lg
			.row.animated.fadeInUp
				.col-md-8.col-md-offset-2
					.col-md-1
					.col-md-2
						img.img-responsive(src='../images/319_33.png', alt='')
					.col-md-2
						img.img-responsive(src='../images/319_35.png', alt='')
					.col-md-2
						img.img-responsive(src='../images/319_37.png', alt='')
					.col-md-2
						img.img-responsive(src='../images/319_39.png', alt='')
					.col-md-2
						img.img-responsive(src='../images/319_41.png', alt='')
								
	
						
