extends ../layouts/default
block intro
block content
	.container: .row.sections
		.col-lg-12
			img(src="../images/sanyuki/sanyuki1s/heading.png" width="100%")
		.col-lg-12.item
			h4 更加贴合女神使用的家庭设备
			p 让你对室内设备胸有成竹，给自己和家人更多呵护
			img(src="../images/sanyuki/sanyuki1s/section1.png" width="100%")
		.col-lg-12.item
			h4 健康指示提醒
			p 更换滤网提示，微电脑控制 平衡加湿
			p 智能远程控制 品质生活
			img(src="../images/sanyuki/sanyuki1s/section2.png" width="100%")
		.col-lg-12.item
			h4 全球最强大净化全功能包括
			p 3M 高容尘量 HEPA 滤网 负离子净化
			p 改性催化活性炭过滤器 超灵敏空气微尘传感器 自动风速调节
			p 光触媒过滤器 超安静直流电机 3D高速气流设计
			p 无臭氧紫外线消毒灯
			img(src="../images/sanyuki/sanyuki1s/section3.png" width="100%")
		.col-lg-12.item
			h4 森林高效负离子 静享深度呼吸
			p 改善肺功能 提高免疫力 改善睡眠质量
			img(src="../images/sanyuki/sanyuki1s/section4.png" width="100%")
		.col-lg-12.item
			h4 产品详情细节
			p 彩色百搭，极易融入她的闺房，身材匀称，极易成为她的闺蜜
			img(src="../images/sanyuki/sanyuki1s/section5-1.png" width="100%")
