/*-----------------------------------------------------------------------------------*/
/*
/*      Built with Blocs
/*-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
}
a:hover{text-decoration: none; cursor:pointer;}





/* Globals type styling */
    h1, h2, h3, h4, h5, h6, p, label, .btn, a{
	font-family:"Helvetica";
}


/* Site container width */

.container{
	width:100%;
	padding-left: 0px;
	padding-right: 0px;
}

/* Blocs */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* Bloc sizes */

.bloc-lg{
	padding:50px 50px;
}
.bloc-sm{
	padding:0px 50px;
}


/* Bloc - Background Styles */

.bg-center, .bg-l-edge,.bg-r-edge,.bg-t-edge,.bg-b-edge,.bg-tl-edge,.bg-bl-edge,.bg-tr-edge,.bg-br-edge{
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
}
.bg-repeat{
	background:repeat;
}


/* Bloc - Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc h1, .d-bloc h2, .d-bloc h3, .d-bloc h4,.d-bloc h5, .d-bloc h6, .d-bloc .ico{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc a{
	color:rgba(255,255,255,.6);
}
.d-bloc a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}


/* Bloc - Light theme */

.l-bloc{
	color:rgba(0,0,0,.5);
}
.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc h1,.l-bloc h2,.l-bloc h3,.l-bloc h4,.l-bloc h5, .l-bloc h6, .l-bloc .ico{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round{
	border-color:rgba(0,0,0,.7);
}
.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.l-bloc a{
	color: #FFF;
}
.l-bloc a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.l-bloc .btn-wire, .l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}
/* Bloc Dividers */

.b-divider{
	border-top:0px solid rgba(0,0,0,.1);
	border-bottom:0px solid rgba(0,0,0,.1);
}


/* Custom bloc styling */

#nav-bloc {
	background-color: #323232;
}

#bloc-1,#bloc-2,#bloc-3{
	background-color:#FFF;
}

/* Bloc image backgrounds */

.bg-camera-overlay{
	background-image:url('img/camera-overlay.png');
}
.bg-highway{
	background-image:url('img/highway.jpg');
}

/* NavBar */

.navbar{
	margin-bottom: 0;
}
.navbar-brand{
	height:auto;
	padding:15px 15px;
	font-size:25px!important;
	font-weight:normal;
	font-weight:600;
}
.navbar-brand img{
	width: auto;
	max-height: 50px;
	margin: 0 5px 0 0;
	display:inline;
}
.navbar-brand{
	padding: 15px 15px;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
}
.nav > li{
	float:left;
	margin-top:4px;
	font-size:16px;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
}
 @media (min-width: 768px){
	.site-navigation{
	position: absolute;
	 top: 50%;
	 right:20px;
	transform: translate(0, -50%);
	-webkit-transform:translateY(-50%);
}
.nav-invert .site-navigation{
	left:20px;
	right:0;
}
}

/* Bric adjustment margins */

.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}

/* Buttons */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF!important;
	background:rgba(0,0,0,.3);
}
.a-btn{
	font-size: 14px;
	font-weight: normal;
	padding: 6px 10px 6px 0;
	line-height: 1.42857143;
	 display:inline-block;
}
.text-center .a-btn{
	padding: 6px 0;
}
.a-block{
	width:100%;
	text-align: left;
}
.img-responsive{
	display: grid;
}

.home-gold-row {
	border:1px solid rgba(0,0,0,.1);
}

.num {
	font-size: 45px;
	text-align: right;
	margin-right: -15px;
}

.pw {
	margin:15px 0 0 0;
}

#carousel-user-generic > .carousel-inner{
	height: 250px;
}

.media-body{
	text-align: left;
}
.media-left {
	width: 64px; height: 64px;
}
.media {
	margin: 20px 20px;
}
.user-reviews {
	background-color: rgba(50,50,50,0.7);
}


/* iFrame */

iframe{
	border:0;
}
/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	 opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop icon{
	margin-top: 6px;
}
.showScrollTop{
	opacity: 1;
}

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
	background-image: none;
}

.product {
	width:  33%;
	height: 0;
	float: left;
	border: 0.5px solid;
	padding-bottom: 33%;
}

.product div {
	width:  100%;
	height: 0;
	padding-bottom: 100%;
	opacity: 0.0;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.product img {
	margin: 0;
	width: 100%;
	display: block;
}

.product:hover > div {
	opacity: 1.0;
}
.hvr-sweep-to-top:hover {
	background-color: #EA667F;
}



.product.w2 { width: 66%; }
.product.w3 { width: 99%; }

.product.height2 { height: 0; padding-bottom: 66%}
.product.height3 { height: 0; padding-bottom: 99%}

.masonry {
	max-width: 1170px;
}

.masonry:after {
	content: '';
	display: block;
	clear: both;
}

/* Mobile adjustments */

@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
    }
    h1,h2,h3,h4,h5,h6,p{
        padding-left:10px!important;
        padding-right:10px!important;
    }
    .bloc{
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;
        margin: -10px 10px 0 0;
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left;
    }
    .btn.pull-left, .btn.pull-right{
       float:none!important;
    }
    .bloc-group .bloc{
         display:block;
         width:100%;
     }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	   padding-left: 10px;
	   padding-right: 10px;
    }
    .bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0;
        padding-right: 0;
    }
    .a-block{
        text-align: center;
    }
    .btn-dwn{
       display:none;
    }
}

